@import 'https://fonts.googleapis.com/css?family=Lato:300';
 @import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css';
 html, body, .background {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
	 font-family: 'Lato', sans-serif;
}
 html {
	 background: #fff;
}
 body {
	 background: #eee;
	 background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}
 .background {
	 background: #eee;
	 background: linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));
}
 .container {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 margin: 0;
	 padding: 0;
	 height: 100%;
	 width: 100%;
	 overflow: auto;
	 position: relative;
	 background: #eee;
	 background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
}
 .container #sunburst {
	 opacity: 0;
}
 .container.night #sunburst {
	 opacity: 0 !important;
}
 .card-container {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 margin: 0;
	 padding: 0;
	 height: 100%;
	 width: 100%;
	 overflow: auto;
	 position: relative;
	 margin: 20px;
}
 nav {
	 height: 400px;
	 min-height: 300px;
	 max-height: 100%;
	 margin-right: 20px;
}
 nav ul {
	 list-style-type: none;
	 padding: 0;
	 display: flex;
	 flex-direction: column;
}
 nav li a {
	 display: block;
	 width: 50px;
	 text-align: center;
	 color: #aaa;
	 cursor: pointer;
}
 nav li a:hover {
	 color: #444;
}
 nav li a.active {
	 color: #44f;
}
 .test-nav ul {
	 flex-wrap: wrap-reverse;
	 width: auto;
	 height: 100%;
	 margin: 0px;
}
 .test-nav ul li a {
	 width: 25px;
	 height: 25px;
}
 #card {
	 box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
	 overflow: hidden;
	 width: 300px;
	 padding: 0;
	 height: 400px;
	 min-height: 300px;
	 max-height: 100%;
	 border-radius: 5px;
	 position: relative;
}
 #card .details {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 padding: 16px 20px;
	 color: #888;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 transition: color 2s ease;
}
 .night #card .details, .smoke #card .details, .hail #card .details, .severe #card .details, .thunder #card .details {
	 color: #ddd;
}
 #card .details .right {
	 text-align: right;
}
 #card .details #date {
	 margin: 4px 0;
}
 #card .details #summary {
	 font-weight: 600;
	 font-size: 22px;
}
 #card .details .temp {
	 font-size: 60px;
	 line-height: 60px;
}
 #card .details .temp .super {
	 font-size: 18px;
	 line-height: 30px;
	 vertical-align: top;
	 margin-left: 5px;
}
 .weather {
	 background-color: #dae3fd;
	 transition: background-color 2s ease;
}
 .hail .weather, .severe .weather, .thunder .weather {
	 background-color: #9fa4ad;
}
 .rain .weather {
	 background-color: #d8d8d8;
}
 .haze .weather {
	 background-color: #efefef;
}
 .sun .weather {
	 background-color: #ccf;
}
 .hot .weather, .smoke .weather {
	 background-color: rgba(230, 179, 179, 0.8);
}
 .weather #inner {
	 background-color: rgba(255, 255, 255, 1);
	 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}
 .weather .cloud {
	 transition: fill 2s ease;
}
 .weather .fog {
	 opacity: 0;
	 transition: opacity 2s ease, fill 2s ease;
}
 .smoke .weather .fog, .haze .weather .fog {
	 opacity: 1;
}
 .weather #sun {
	 fill: #f7ed47;
}
 .cold .weather {
	 background-color: #ccdffb;
}
 .night .weather {
	 background-color: #060638;
}
 .night .weather #sun {
	 fill: #ccdbef;
}
 .weather #fog1 {
	 fill: #f5f5f5;
}
 .night .weather #fog1, .smoke .weather #fog1, .hail .weather #fog1, .severe .weather #fog1, .thunder .weather #fog1 {
	 fill: #afb4bd;
}
 .weather #fog2, .weather #cloud1 {
	 fill: #efefef;
}
 .night .weather #fog2, .night .weather #cloud1, .smoke .weather #fog2, .smoke .weather #cloud1, .hail .weather #fog2, .hail .weather #cloud1, .severe .weather #fog2, .severe .weather #cloud1, .thunder .weather #fog2, .thunder .weather #cloud1 {
	 fill: #9fa4ad;
}
 .weather #fog3, .weather #cloud2 {
	 fill: #e6e6e6;
}
 .night .weather #fog3, .night .weather #cloud2, .smoke .weather #fog3, .smoke .weather #cloud2, .hail .weather #fog3, .hail .weather #cloud2, .severe .weather #fog3, .severe .weather #cloud2, .thunder .weather #fog3, .thunder .weather #cloud2 {
	 fill: #8b8e98;
}
 .weather #cloud3 {
	 fill: #d5d5d5;
}
 .night .weather #cloud3, .smoke .weather #cloud3, .hail .weather #cloud3, .severe .weather #cloud3, .thunder .weather #cloud3 {
	 fill: #7b7988;
}
 #outer, #back {
	 position: fixed;
	 pointer-events: none;
}
 